body, html {
	height: 98%;
	background-color: #f2f2f2;
	color: rgba(0, 0, 0, .8);
	text-align: left;
	font-size: 1.1em;
	font-family: 'Convergence';
}

section {
	margin: 5% 5%;
}

#top header h1 {
	font-family: 'Merienda';
	font-size: 2.5em;
	margin-bottom: .5em;
	color: rgb(27, 62, 74);
	text-align: center;
}

a {
	font-size: .8em;
	text-decoration: none;
	color: white;
	background-color: rgba(27, 62, 74, .8);
	padding: .5em .5em;
	text-align: center;
}

#top a:hover {
	color: rgba(0, 0, 0, .8);
}

h2 {
	text-align: center;
	text-decoration: underline;
}

h3 {
	font-size: 1.3em;
	text-align: center;
	background-color: rgba(209, 156, 100, .8);
	padding-top: .3em;
	padding-bottom: .3em;
	color: rgb(27, 62, 74);
	margin-top: 2em;
}

p {
	margin-left: 6%;
	margin-right: 6%;
}

h4 {
	color: rgb(27, 62, 74);
	margin-left: 2%;
}

table {
	margin-left: 6%;
	margin-right: 4%;
}

table tr td{
	padding-left: 2%;
}

.fa {
	vertical-align: middle;
}

footer {
	color: white;
	background-color: rgb(27, 62, 74);
	font-size: .75em;
	padding: .5em .5em;
	text-align: center;
}
